<div class="main">
  <div class="row">
    <div class="large-centered large-8 columns">
      <div class="heading">
    <h3>Share Your Ideas With The World</h3>
   </div>
  <button class="button" id="start">Create Idea</button>
</div>
    <div class="letter" style="display:none">
      <%= render 'form' %>
  </div>
<div id="ideas">
    <%= render partial: @ideas %>
  </div>
</div>
</div>
</div>
